/* 设置页面 */

* {
  margin: 0;
  padding: 0;
}

body,
html {
  background-color: #f6f6f6;
}

a {
  text-decoration: none;
}

.big-box {
  width: 950px;
  background-color: #fff;
  border-radius: 5px;
  margin: auto;
}

.big-box .top-img {
  width: 950px;
  height: 250px;
  margin-top: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-image: url("/images/设置页面背景.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* 头像 */

.big-box .setting-tu {
  width: 150px;
  height: 150px;
  border-radius: 8%;
  position: relative;
  top: -40px;
  left: 100px;
  z-index: 100;
  border: 5px solid #fff;
  cursor: pointer;
}

.box-bottom {
  padding-left: 300px;
  padding-top: 20px;
  position: relative;
  top: -150px;
}

span {
  font-size: 18px;
  font-weight: 700;
}

/* 所有文本框样式 */

input {
  width: 350px;
  height: 50px;
  font-size: 20px;
  padding-left: 7px;
  margin-left: 60px;
  border: 0;
  outline: none;
}

.setting-btn {
  width: 100px;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #ced4da;
  background-color: #007bff;
  outline-color: #80bdff;
  color: #fff;
  font-size: 16px;
}

.setting-btn-tuichu {
  width: 100px;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #ced4da;
  background-color: red;
  outline-color: #80bdff;
  color: #fff;
  font-size: 16px;
}

hr {
  margin-right: 40px;
}

.box-bottom a {
  margin-left: 500px;
  text-decoration: none;
  color: #8590a6;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #eee;
}

::-webkit-scrollbar-thumb {
  background: #fe9600;
}